

 
 <br><br>
 <div class="container p-8">
  <h1 style="text-align: center;">Tarjetas Emixtra</h1>
  <br>
  <div class="row">
    <div class="col-md-2">
      <div class="card card-body border-success mb-3">
        <h3 style="text-align: center;">Consultar:</h3>
        <form (submit)="submitLocation(pais)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Numero de Tarjeta" #pais>

          </div>
          <button style="text-align: center;" class="btn btn-success btn-block mt-2">
            Consultar
          </button>
        </form>
      </div>
    </div>
    
  
    <div class="col-md-10">
      
      <div *ngIf="clima" class="card card-body border-success mb-3" id="print-section">

        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-6">
            <br>
            <br>
            <h4 style="text-align: center;">MUNICIPALIDAD DE MIXCO<br>TARJETA DE OPERACIÓN LINEA EXISTENTE</h4>
          </div>
          <div class="col-md-3">
              
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-4">
            <table cellpadding="4">
              <tr>
                <th>No. Rodaje:</th>
                <td>{{clima.NUMERO_RODAJE}}</td>
              </tr>
              <tr>
                <th>Tipo Servicio:</th>
                <td>{{clima.SERVICIO}}</td>
              </tr>
              <tr>
                <th>Propietario:</th>
                <td>{{clima.PROPIETARIO}}</td>
              </tr>
              <tr>
                <th>No. Placa:</th>
                <td>{{clima.PLACA}}</td>
              </tr>
              <tr>
                <th>Vehiculo:</th>
                <td>{{clima.VEHICULO}}</td>
              </tr>
              <tr>
                <th>Marca:</th>
                <td>{{clima.MARCA}}</td>
              </tr>
              <tr>
                <th>Color:</th>
                <td>{{clima.COLOR}}</td>
              </tr>
              <tr>
                <th>Modelo:</th>
                <td>{{clima.MODELO}}</td>
              </tr>
              <tr>
                <th>No. Motor:</th>
                <td>{{clima.MOTOR}}</td>
              </tr>
              <tr>
                <th>No. Chasis:</th>
                <td>{{clima.CHASIS}}</td>
              </tr>
              <tr>
                <th>Ruta o Estacionamiento:</th>
                <td>{{clima.RUTA_ESTACIONAMIENTO}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-4">
            <table cellpadding="4">
              <tr>
                <th>No. Asientos:</th>
                <td>{{clima.ASIENTOS}}</td>
              </tr>
              <tr>
                <th>No. Tarjeta:</th>
                <td>{{clima.TARJETA}}</td>
              </tr>
              <tr>
                <th>Autorizacion:</th>
                <td>{{clima.AUTORIZACION}}</td>
              </tr>
              <tr>
                <th>Autorizado:</th>
                <td>{{clima.FECHA_AUTORIZACION | date:'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <th>Vigencia:</th>
                <td>{{clima.VIGENCIA}}</td>
              </tr>
              <tr>
                <th>Vence:</th>
                <td>{{clima.FECHA_VENCIMIENTO | date:'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <th>Asociacion:</th>
                <td>{{clima.NOMBRE_ASOC_TRANSPORTE}}</td>
              </tr>
              <tr>
                <th>Empresa:</th>
                <td>{{clima.NOMBRE_EMP_TRANSPORTE}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <ngx-qrcode
                [elementType]="'img'" 
                [value] = "dato"
                cssClass = "aclass"
                errorCorrectionLevel = "L">
              </ngx-qrcode>
          </div>
        </div>

        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
              <span id ="fecha">{{CurrentDate | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
              <div *ngIf="clima.ANT_NUEVA > 0 ; else elseBlock">TIENE UNA ANTIGUEDAD DE: {{clima.ANT_NUEVA}} AÑOS</div>
              <ng-template #elseBlock>PRIMERA TARJETA</ng-template>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              <table style="text-align: center;">
                <tr>
                  <td>Eduardo Antonio Diaz Sandoval</td>
                </tr>
                <tr><td>Jefe del Departamento de Medios de<br>Transporte</td></tr>
              </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        
      </div>

      <div *ngIf="clima">

        <!--boton sin pdf-->
        <button (click)="print()" style="text-align: center;" class="btn btn-primary btn-block mt-2">
          Imprimir Tarjeta
        </button>



      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
